name: master_admin
run-name: running cicd for master_admin dashboard
on:
  push:
    branches:
    - demo
    paths-ignore:
    - '.github/workflows/**'
jobs:
  build_test_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          
      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test || echo 'no test cases added'

      - name: build code
        run: npm run build || echo 'build not present'
        
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=master-admin-frontend
            -Dsonar.projectName=master-admin-frontend

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH
          exit-code: 1
          output: master_admin_frontend_fs.json

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/master-admin-frontend:latest . 

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/master-admin-frontend:latest
          severity: CRITICAL,HIGH
          exit-code: 1
          output: master_admin_frontend_image.json
          
      - name: Upload Trivy reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-reports
          path: |
            master_admin_frontend_image.json
            master_admin_frontend_fs.json
            
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/master-admin-frontend:latest
          echo 'image pushed successfully'

      - name: code deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            echo "Connected to EC2 successfully"
            docker-compose pull master-admin-ser
            docker-compose up -d && echo 'deploy successful || echo 'deploy failed'
     
